<!-- This is coming from: view/users/create.html.erb -->
<h1>Create a Profile</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Personal</a></li>
  <li role="presentation"><a href="#">Company</a></li>
</ul>

<div class="container">

  <%= simple_form_for(@user, url: users_path) do |f| %>

  <span class="row"> <!-- This is the Profile picture upload section -->
    <span class="col-md-4 col-md-offset-2">
      <!-- this is Arebeth's photo tool area -->
    </span>
  </span>

  <span>
    <!-- Within Bootstrap, tab trigger this on Personal tab -->
    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:first_name, required: true, autofocus: true) %>
    </span>

    <!-- Within Bootstrap, tab trigger this on Personal tab -->
    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:last_name) %>
    </span>

    <!-- Within Bootstrap, tab trigger this on Company tab -->
    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:company) %>
    </span>

    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:email, required: true) %>
    </span>

    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:phone) %>
    </span>

    <span class="col-md-5 col-md-offset-1">
      <%= f.input(:password, required: true) %>
    </span>
  </span>
  






  <div class="row">
    <span class="col-md-5 col-md-offset-1">
      <%= f.button(:submit, "Submit", class: "btn btn-primary") %>
    </span>
  </div>

  <% end %>
  <br><br>
  <div class="row">
    <span class="col-md-5 col-md-offset-1 text-left">
      <%= link_to "Have an account already? Log in here", login_path %>
    </span>
  </div>
</div>
<br><br><br><br>