<div class="container page-background-color">

<!-- Title -->
<h1 class = "showProfileName">Edit Your Profile</h1>
<!-- Form for editing user information -->
<div class="updateUserInformation center">
  <%= form_for @user do |f| %>
    <p><%= f.text_field :first_name %></p>
    <p><%= f.text_field :last_name %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.text_field :zipcode %></p>
    <p><%= f.submit class:"general-button" %></p>
    <p><%= link_to "Delete", user_path(@user), method: "delete", data: { confirm: "Are you sure you want to delete your account?\nThis can not be undone." }, class:"general-button delete-button" %></p>
  <% end %>


  </div>
<!-- What the user can give -->
<div class="profilePageContent center">

  <div class="updateGiftInformation">
    <!-- Form to Update the gives information -->

    <h2 class = "updateTitle">Update your Give</h2>
    
    <%= form_for @give, action: "/users/#{@user.id}/gift" do |f| %>
      
      <p><%= f.text_field :title %></p>
      <p><%= f.text_area :description, rows: 5, cols: 70%></p>
      <h1><small>Choose a category for your give:</small></h1>
      <div class="radioButtons">
        <div class="radioButton">
        <%= f.radio_button(:category_id, 1) %>
          <%= label_tag(:category_id, "Time") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 2) %>
          <%= label_tag(:category_id, "Service") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 3) %>
          <%= label_tag(:category_id, "Money") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 4) %>
          <%= label_tag(:category_id, "Object") %>
        </div>
      </div>

      <%= f.submit class:"general-button" %>

    <% end %> 
  </div>
    

  <div class="updateGiftInformation">
    <!-- Form for updating get information -->

    <h2 class="updateTitle">Update your Get</h2>
    
    <%= form_for @get, action: "/users/#{@user.id}/gift" do |f| %>
      <p><%= f.text_field :title %></p>
      <p><%= f.text_area :description, rows: 5, cols: 70 %></p>
      <h1><small>Choose a category for your get:</small></h1>
      <div class="radioButtons">
        <div class="radioButton">
        <%= f.radio_button(:category_id, 1) %>
          <%= label_tag(:category_id, "Time") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 2) %>
          <%= label_tag(:category_id, "Service") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 3) %>
          <%= label_tag(:category_id, "Money") %>
        </div>
        <div class="radioButton">
        <%= f.radio_button(:category_id, 4) %>
          <%= label_tag(:category_id, "Object") %>
        </div>
      </div>

      <%= f.submit class:"general-button" %>
    <% end %>
  </div>
  </div>
  <br>
  
</div>

