<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit <%= @user.first_name %></title>
</head>
<body>
<div class="container">


<p> <%= link_to "Home", "/users" %> | <%= link_to "About", "/about" %> | <%= link_to "Logout", "/logout" %>
</p>
<!-- Title -->
<h1 class = "showProfileName">Edit Your Profile</h1>
<!-- Form for editing user information -->
<div class="updateUserInformation center">
  <%= form_for @user do |f| %>
    <p><%= f.text_field :first_name %></p>
    <p><%= f.text_field :last_name %></p>
    <p><%= f.text_field :email %></p>
    <p><%= f.text_field :zipcode %></p>
    <%= f.submit %>
  <% end %>
</div>
<!-- What the user can give -->
<div class="profilePageContent center">
  
  <h2 class="profilePageGiftType center">What <%= @user.first_name %> can Give.</h2>

  <h3 class = "profilePageGiftTitle center"><%= @give.title %></h3>
      
  <h4 class = "profilePageGiftDescription center"><%= @give.description %></h4>
  
  <!-- Logic for determining what to show for the user's give category -->
  <div class="profilePageGiftCategoryImage center">
    <% if @give.category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @give.category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @give.category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @give.category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>

  <div class="updateGiftInformation">
    <!-- Form to Update the gives information -->

    <h2 class = "updateTitle">Update your Give</h2>
    
    <%= form_for @give do |f| %>
      
      <p><%= f.text_field :title %></p>
      <p><%= f.text_area :description, rows: 5, cols: 70%></p>
      
      <div class="radioButtons">
        <%= f.radio_button(:category_id, 1) %>
          <%= label_tag(:category_id, image_tag("time.png")) %>
        <%= f.radio_button(:category_id, 2) %>
          <%= label_tag(:category_id, image_tag("service.png")) %>
        <%= f.radio_button(:category_id, 3) %>
          <%= label_tag(:category_id, image_tag("money.png")) %>
        <%= f.radio_button(:category_id, 4) %>
          <%= label_tag(:category_id, image_tag("object.png")) %>
      </div>

      <%= f.submit %>

    <% end %> 
  </div>
    
  <!-- What the user would like to get -->
  <h2 class="profilePageGiftType">What <%= @user.first_name %> would like to Get.</h2>
    <h3 class = "profilePageGiftTitle center"><%= @get.title %></h3>
    <h4 class = "profilePageGiftDescription center"><%= @get.description %></h4>
    
  <!-- Logic to determine what the get category is -->
  <div class="profilePageGiftCategoryImage center">
    <% if @get.category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @get.category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @get.category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @get.category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>

  <div class="updateGiftInformation">
    <!-- Form for updating get information -->

    <h2 class="updateTitle">Update your Get</h2>
    
    <%= form_for @get do |f| %>
      <p><%= f.text_field :title %></p>
      <p><%= f.text_area :description, rows: 5, cols: 70 %></p>
      
      <div class="radioButtons">
        <%= f.radio_button(:category_id, 1) %>
        <%= label_tag(:category_id, image_tag("time.png")) %>
        <%= f.radio_button(:category_id, 2) %>
        <%= label_tag(:category_id, image_tag("service.png")) %>
        <%= f.radio_button(:category_id, 3) %>
        <%= label_tag(:category_id, image_tag("money.png")) %>
        <%= f.radio_button(:category_id, 4) %>
        <%= label_tag(:category_id, image_tag("object.png")) %>
      </div>

      <%= f.submit %>
    <% end %>
  </div>

  </div>

</div>
</body>
</html>