<!-- This is coming from: view/users/create.html.erb -->
<div class="container page-background-color">
<div class="before-page text-center">
  <h1>Create a Profile</h1>
</div>
<!-- <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Personal</a></li>
</ul> -->

<div class="container text-center new-form">

  <%= form_for @user do |f| %>
  
  <div class="row">
    <!-- Within Bootstrap, tab trigger this on Personal tab -->
    <div class="col-sm-5 text-center">
      <div class="image-preview-single">
        
          <img src="" alt="">
          <input type="hidden" role="uploadcare-uploader" data-clearable="" data-images-only="" data-image-shrink="180x180 80%" data-public-key="8f615b911b6092cc8a13" value="" name="uploadcare">
        </div>
        <p><b> Upload a Profile Picture</b>
      </p>

    </div>
    <div class="col-sm-7 text-left">
    <p>
    <div class="row">
        <div class="col-lg-2">
        <%= f.label :first_name %>:
        </div>
        <div class="col-lg-3 input-fields-style">
        <%= f.text_field(:first_name, required: true, autofocus: true) %>
        </div>
        <div class="col-lg-2">
        <%= f.label :last_name %>:
        </div>
        <div class="col-lg-3 input-fields-style">
        <%= f.text_field(:last_name) %>
        </div>
    </div>
    </p>
    <p>
      <div class="row">
      <div class="col-lg-2">
        <%= f.label :email %>:
        </div>
        <div class="col-lg-8 input-fields-style">
        <%= f.text_field(:email, required: true) %>
      </div>
      </div>
      </p>
      <p>
      <div class="row">
      <div class="col-lg-2">
        <%= f.label :zipcode %>:
        </div>
        <div class="col-lg-8 input-fields-style">
        <%= f.text_field(:zipcode, required: true) %>
        </div>
        </div>
      </p>
      <p>
      <div class="row">
      <div class="col-lg-2">
        <%= f.label :password %>:
        </div>
        <div class="col-lg-8 input-fields-style">
        <%= f.password_field(:password, required: true) %>
        </div>
        </div>
      </p>
  </div>
      </div>
    </p>
    <p><%= f.fields_for :gifts do |builder| %></p>
    <!-- <h1>Give:</h1> -->
    <!-- <h1>Get:</h1> -->
    <% if builder.index == 0 %>
    <h1>What can you Give?</h1>
    <% else %>
    <h1>What would you like to Get?</h1>
    <% end %>

    <h3><%= builder.label :title, "Title" %></h3>
    <p><%= builder.text_field :title %></p>
    <h3><small><%= builder.label :description, "Description" %></small></h3>
    <p><%= builder.text_area :description, rows: 5, cols: 70 %></p>



    <% if builder.index == 0 %>
    <h1><small>Choose a category for your give:</small></h1>
    <% else %>
    <h1><small>Choose a category for your get:</small></h1>
    <% end %>


    <div class="radioButtons">
    <div class="radioButton">
    <%= builder.radio_button :category_id, 1 %>
    <%= builder.label :category_id, "Time" %> 
    </div>
    <div class="radioButton">
    <%= builder.radio_button :category_id, 2 %>
    <%= builder.label :category_id, "Service" %>
    </div>
    <div class="radioButton">
    <%= builder.radio_button :category_id, 3 %>
    <%= builder.label :category_id, "Donation" %>
    </div>
    <div class="radioButton">
    <%= builder.radio_button :category_id, 4 %>
    <%= builder.label :category_id, "Gift" %>
    </div>
    </div>
    <% end %>
  </p>

  <p class>
    <%= f.submit "Create Profile", class:"general-button"%>
  </p>

</div>







<div class="row">
  <span class="col-md-5 col-md-offset-1">

  </span>
</div>

<% end %>
<br><br>
<div class="row">
  <span class="col-md-5 col-md-offset-1 text-left">

    <!-- add link to login path here -->

  </span>
</div>
</div>
</div>
