<div class="container page-background-color">  
<h1 class = "showProfileName"><%= @user.first_name %>'s Profile</h1>

<div class="profilePagePhoto center" style="background-image: url(<%= @user.profile_pic %>); background-size: cover; background-position:center;"></div>
<h3 class = "profilePageName center"><%= @user.first_name %> <%= @user.last_name %></h3>

<div class="profilePageContent center">
  <% if @give.present? == true %>

  <h2 class = "profilePageGiftType">What <%= @user.first_name %> can Give.</h2>

  <h3 class = "profilePageGiftTitle center"><%= @give.title %></h3>
  <!-- See if we should type out category name instead of picture -->
   <div class="profilePageGiftCategoryImage center">
    <% if @give.category_id == 1 %>
      <h3><small>Service</small></h3>
    <% elsif @give.category_id == 2%>
        <h3><small>Time</small></h3>
    <% elsif @give.category_id == 3%>
      <h3><small>Donation</small></h3>
    <% elsif @give.category_id == 4%>
      <h3><small>Gift</small></h3>
    <% end %>
  </div>
  <!--  -->
  <h4 class = "profilePageGiftDescription center">
    <%= @give.description %>
  </h4>
  
 


  <form action="mailto:<%= @user.email %>">
    <button class="general-button">Contact <%= @user.first_name %></button>
  </form>
<% end %>

<% if @get.present? == true %>

  <h2 class = "profilePageGiftType">What <%= @user.first_name %> would like to Get.</h2>
  <h3 class = "profilePageGiftTitle center"><%= @get.title %></h3>
   <div class="profilePageGiftCategoryImage center">
    <% if @give.category_id == 1 %>
      <h3><small>Service</small></h3>
    <% elsif @give.category_id == 2%>
        <h3><small>Time</small></h3>
    <% elsif @give.category_id == 3%>
      <h3><small>Donation</small></h3>
    <% elsif @give.category_id == 4%>
      <h3><small>Gift</small></h3>
    <% end %>
  </div>
  
  <h4 class = "profilePageGiftDescription center">
    <%= @get.description %>
  </h4>


  <form action="mailto:<%= @user.email %>">
  <button class="general-button">Contact <%= @user.first_name %></button>
  </form>
  <% end %>
  </p>
</div>
<br>
<br>
</div>
