<div class="container">

<p> <%= link_to "Home", "/users" %> | <%= link_to "About", "/access/about" %> | 
<% if @user.id == session[:user_id] %>
  <%= link_to "Edit", edit_user_path(@user)%> |
<% end %> 
  


 <%= link_to "Logout", "/logout" %>
</p>

<h1 class = "showProfileName"><%= @user.first_name %>'s Profile</h1>

<div class="profilePagePhoto center" style="background-image: url(<%= @user.profile_pic %>); background-size: cover; background-position:center;"></div>
<h3 class = "profilePageName center"><%= @user.first_name %> <%= @user.last_name %></h3>

<div class="profilePageContent center">
  <% if @give.present? == true %>

  <h2 class = "profilePageGiftType">What <%= @user.first_name %> can Give.</h2>

  <h3 class = "profilePageGiftTitle center"><%= @give.title %></h3>
  
  <h4 class = "profilePageGiftDescription center">
    <%= @give.description %>
  </h4>
  
  <div class="profilePageGiftCategoryImage center">
    <% if @give.category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @give.category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @give.category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @give.category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>


  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
<% end %>

<% if @get.present? == true %>

  <h2 class = "profilePageGiftType">What <%= @user.first_name %> would like to Get.</h2>
  <h3 class = "profilePageGiftTitle center"><%= @get.title %></h3>
  
  <h4 class = "profilePageGiftDescription center">
    <%= @get.description %>
  </h4>

  <div class="profilePageGiftCategoryImage center">
    <% if @get.category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @get.category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @get.category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @get.category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>

  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
  <% end %>
  </p>
</div>

</div>