<p> <%= link_to "Home", "/users" %> | <%= link_to "About", "/about" %> | 
<% if @user.id == session[:user_id] %>
  <%= link_to "Edit", edit_user_path(@user)%> |
<% end %> 
  


 <%= link_to "Logout", "/logout" %>
</p>

<h1><%= @user.first_name %>'s Profile</h1>


<h2>What <%= @user.first_name %> can Give.</h2>
<p>
<% if @give.present? == true %>
  <p>
    <%= @give.title %>
  </p>
  <p>
    <%= @give.description %>
  </p>
  <p>

  <% if @give.category_id == 1 %>
    <p>This is time</p>
  <% elsif @give.category_id == 2%>
    <p>This is a service</p>
  <% elsif @give.category_id == 3%>
    <p>This is a donation</p>
  <% elsif @give.category_id == 4%>
    <p>This is a gift</p>
  <% end %> 
  
  </p>
  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
<% end %>

<% if @get.present? == true %>
  <h2>What <%= @user.first_name %> would like to Get.</h2>
    <p>
    <%= @get.title %>
  </p>
  <p>
    <%= @get.description %>
  </p>
  <% if @get.category_id == 1 %>
    <p>This is a time</p>
  <% elsif @get.category_id == 2%>
    <p>This is a service</p>
  <% elsif @get.category_id == 3%>
    <p>This is a donation</p>
  <% elsif @get.category_id == 4%>
    <p>This is a gift</p>
    <% end %>
<% end %>
  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
</p>
