<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @user.first_name %></title>
</head>
<body>
<div class="container">


<p> <%= link_to "Home", "/users" %> | <%= link_to "About", "/about" %> | 
<% if @user.id == session[:user_id] %>
  <%= link_to "Edit", edit_user_path(@user)%> |
<% end %> 
  


 <%= link_to "Logout", "/logout" %>
</p>

<h1 class = "showProfileName"><%= @user.first_name %>'s Profile</h1>

<div class="profilePagePhoto center"></div>
<h3 class = "profilePageName center"><%= @user.first_name %> <%= @user.last_name %></h3>

<div class="profilePageContent center">
  <h2 class = "profilePageGiftType">What <%= @user.first_name %> can Give.</h2>
  <p>

  <h3 class = "profilePageGiftTitle center"><%= @gift[0].title %></h3>
  <h4 class = "profilePageGiftDescription center">
    <%= @gift[0].description %>
  </h4>
  <div class="profilePageGiftCategoryImage center">
    <% if @gift[0].category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @gift[0].category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @gift[0].category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @gift[0].category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>

  </p>
  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
  <h2 class = "profilePageGiftType">What <%= @user.first_name %> would like to Get.</h2>
  <h3 class = "profilePageGiftTitle center"><%= @gift[1].title %></h3>
  <h4 class = "profilePageGiftDescription center">
    <%= @gift[1].description %>
  </h4>
  <div class="profilePageGiftCategoryImage center">
    <% if @gift[1].category_id == 1 %>
      <%= image_tag("service.png") %>
    <% elsif @gift[1].category_id == 2%>
      <%= image_tag("time.png") %>
    <% elsif @gift[1].category_id == 3%>
      <%= image_tag("money.png") %>
    <% elsif @gift[1].category_id == 4%>
      <%= image_tag("object.png") %>
    <% end %>
  </div>
  <p>
    <a href="mailto:<%= @user.email %>">Contact <%= @user.first_name %></a>
  </p>
  </p>
</div>

</div>
</body>
</html>
