<!DOCTYPE html>
<html>
<head>
  <title>Good&amp;Co.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" class="navcontainer">
      <a href="/">
      <p class="navbar-text navbar-left"><span>Good</span>&amp;Co.</p>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <% if !session[:user_id] %>
          <li>
            <%= form_tag(login_path, class: 'navbar-form navbar-left') do %>
              <%= label_tag(:email) %>
              <%= text_field_tag(:email, params[:email]) %>

              <%= label_tag(:password) %>
              <%= password_field_tag(:password, params[:password]) %>

              <%= submit_tag("Login") %>
            <% end %>
          </li>
        <% end %>
        <li><%= link_to("Search", controller: "searches", action: "index") %></li>
        <% if session[:user_id] %>
          <li><%= link_to("Profile", "/users/#{session[:user_id]}") %></li>
          <li><%= link_to("Logout", logout_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("Login", "/") %></li>
        <% end %>
      </ul>
      
    </div>
  </nav>

  <% flash.each do |key, value| %>
  
    <% if key == "notice" %>
      <%= content_tag :div, value, class: "text-center alert alert-warning" %>
    <% elsif key == "alert" %>
      <%= content_tag :div, value, class: "text-center alert alert-danger" %>
    <% else %>
      <%= content_tag :div, value, class: "text-center alert alert-success" %>
    <% end %>
  <% end %>


<%= yield %>
<!-- Widget config for Upload Care -->
<script>
  UPLOADCARE_PUBLIC_KEY = '8f615b911b6092cc8a13';
  UPLOADCARE_TABS = 'all';
  UPLOADCARE_IMAGES_ONLY = true;
  UPLOADCARE_PREVIEW_STEP = true;
  UPLOADCARE_CLEARABLE = true;
</script>
<script charset="utf-8" src="https://ucarecdn.com/widget/2.0.2/uploadcare/uploadcare.full.min.js"></script>
<!-- end -->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
